$border-color: #dedede;
$darkshade: #333333;
$lightshade: #dedede;

$lightback: #f8f8f8;
$primaryback: #c4e0da;


$errorcolor: #F44336;
$bordercolor: #AAAAAA;

$header-height: 40px;

$width-left: 150px;
$width-right: 200px;

$font-size-biggest: 24px;
$font-size-bigger: 18px;
$font-size-normal: 16px;
$font-size-smaller: 14px;
$font-size-small: 12px;